{erl_opts, [debug_info,
  warnings_as_errors,
  %% lager initialisation
  {parse_transform, lager_transform}
]}.

{require_otp_vsn, "18"}.

{deps, [
  {lager, {git, "https://github.com/basho/lager.git", {tag, "3.1.0"}}}
%% TODO  {dns_erlang, {git, "https://github.com/rikribbers/dns_erlang.git", {branch, "rebar3"}}}
]}.


{relx, [{release, {dnssrmerver, "0.1.0"},
  [dnsserver,
    lager,
    %% needed
    %% for starting observer
    runtime_tools,
    sasl]},

  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},

  {dev_mode, true},
  {include_erts, false},

  {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
  {include_erts, true}]}]
}]
}.

