[
  %% SASL config
  {sasl, [
    {sasl_error_logger, {file, "/var/log/dnsserver/sasl-error.log"}},
    {errlog_type, error},
    {error_logger_mf_dir, "/var/log/dnsserver/sasl"},      % Log directory
    {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
    {error_logger_mf_maxfiles, 5}           % 5 files max
  ]},
  {lager, [
    {log_root,  "/var/log/dnsserver"},
    {handlers, [
      {lager_console_backend, debug},
      %% This tells lager to to rotate the file at midnight or when it reaches 10mb, whichever comes first,
      %% and to keep 20 rotated logs in addition to the current one. Setting the count to 0 does not disable rotation,
      %% instead rotates the file and keeps no previous versions around. To disable rotation set the
      %% size to 0 and the date to "".
      {lager_file_backend, [{file, "/var/log/dnsserver/error.log"}, {level, error}, {size, 10485760}, {date, "$D0"}, {count, 10}]},
      {lager_file_backend, [{file, "/var/log/dnsserver/console.log"}, {level, debug}, {size, 10485760}, {date, "$D0"}, {count, 10}]}
    ]}
  ]},
  { dnsserver, []}
].
